{% extends "FundaQueryBundle::layout.html.twig" %}

{% block title %}Funda Query - {{ name }}{% endblock %}

{% block content %}
    <table class="src text-left">
        {% if error %}
        <thead>
        <tr>
            <th>Error</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ error }}</td>
            </tr>
        </tbody>
        {% else %}
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
            {% for data in dataSet %}
            <tr>
                <td>{{ data.id }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
{% endblock %}